	<div class="row mx-auto w-75">
					<%- include('../partials/flash')%>
		<div class="col-auto mb-2 mx-auto">
		<div class="card shadow" style="max-width: 30rem;">
		<div id="campgroundControl" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel">
  <div class="carousel-inner">
	<% campground.images.forEach((img, i) => { %>
    <div class="carousel-item overflow-hidden <%= i === 0 ? 'active' : '' %>">
      <img src="<%=img.show%>" style="height: 320px; width: 480px;" class="d-block" alt="">
    </div>
	<%})%>
  </div>
  <% if(campground.images.length > 1) {%>
  <button class="carousel-control-prev" type="button" data-bs-target="#campgroundControl" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#campgroundControl" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <%}%>
</div>
		<div class="card-body">
		<h4 class="card-title"><%= campground.title %> <span class="badge bg-success rounded-pill">$<%=campground.price%> / <%=campground.time%></span></h4>
		<h6 class="my-3">  
			<%const reviewsRating = campground.reviews.map(review => review.rating)%>
			<% const init = 0;%>
			<% const total = reviewsRating.reduce((pre, curent) => pre + curent, init)%>
			<%if(total !== 0 && reviewsRating.length !== 1) {%>
			<%const average = (total / reviewsRating.length) %>
			&#9733; <%=average.toFixed(1)%> <sup><b>.</b></sup> <%=reviewsRating.length%> reviews <sup><b>.</b></sup> <%= campground.location %>
				<%} else if(reviewsRating.length === 1) {%>
				<%const average = (total / reviewsRating.length) %>
				&#9733; <%=average.toFixed(1)%> <sup><b>.</b></sup> <%=reviewsRating.length%> review <sup><b>.</b></sup> <%= campground.location %>
				<%} else {%>
				&#9733; New <sup><b>.</b></sup> no reviews <sup><b>.</b></sup> <%= campground.location %>
					<%}%>
		</h6>
	<ul class="list-group list-group-flush">
	<li class="list-group-item text-muted">
		<p class="text-muted"><%=campground.description%></p>
	</li>
    <li class="list-group-item text-muted">Host - <%=campground.author.username%> <%if( currentUser && campground.author.equals(currentUser._id)) {%> 
		<sup><b>.</b></sup> <i class="fa fa-user"></i>
		<%}%>
	</li>
    <li class="list-group-item d-flex justify-content-b my-2">
	<form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
	<div class="btn-group" role="group">
	<%  if( currentUser && campground.author.equals(currentUser._id))  {%>
	<button class="btn btn-outline-danger ">Delete</button>
	<a class="btn btn-outline-info" href="/campgrounds/<%= campground._id %>/update">Update</a>
	<%}%>
	</div>
	</form>
	<%- include('./modal')%>
	</li>
  </ul>
</div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
	</div>
	</div>
	<%- include('./reviews')%>
	</div>

			<div class="card my-4 w-75 mx-auto mark-map overflow-hidden">
				<div id='map' style="width: 480; height: 320px;"></div>
			</div>


	<script>
		const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
		const campground = <%- JSON.stringify(campground)%>;
	</script>
	<script src="/javascripts/showPageMap.js"></script>
